li {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.5s 0s;
}

.texte {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  display: block;
  padding: auto;
  max-width: 2.5em;
  min-width: 2.5em;
  height: 20px;
  overflow: hidden;
  text-overflow: clip;
  cursor: pointer;
  color: var(--bs-gray-800);
}

.fullDate {
  position: absolute;
  display: none;
  visibility: hidden;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  top: 2px;
  transform: translateX(-50px);
  max-width: 90px;
  z-index: 1;
}

.date:hover > .fullDate {
  display: block;
  visibility: visible;
}

/*Colors*/
.task {
  background: #0B6477;
}
.fullDate {
  background-color: #C8A8E9;
}
.complet {
  text-decoration: wavy;
  background-color: var(--bs-teal);
}
.btn.btn-delete {
  background-color: #6a8e9f;
  color: #fffbfb;
}
.btn.btn-delete:hover {
  background-color: #EF476F;
}
