.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#corps {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(11, 11, 175, 0.418) 10%, rgba(15, 15, 216, 0.3));
}

.task {
  background: #0C3AA2;
}

.complet {
  text-decoration: wavy;
  background-color: #2da9DC;
}

.date {
  width: 50px;
  flex: 1;
  overflow: clip;
  text-overflow: clip;
  height: auto;
  white-space-collapse: collapse;
}

.date::over {
  position: fixed;
  display: flex;
  width: auto;
  z-index: 2;
  transposition: 2 5 1;
}

button {
  margin: 2px;
}

ul > p {
  position: relative;
  margin: 10px auto;
  font-size: large;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  min-width: fit-content;
  padding: 10px;
}

li > span {
  flex: 2;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li > button {
  display: flex;
}

@media screen and (max-width: 660px) {
  ul { 
    padding-left: 0%;
    justify-content: center;
  }
  li { 
    width: 100%;
  }
}
