.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  min-height: 100vh;
}

li {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 15px;
}

.texte {
  position: relative;
  display: flex;
  width: auto;
  flex: 2;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  display: block;
  padding: auto;
  max-width: 2.5em;
  min-width: 2.5em;
  height: 20px;
  overflow: hidden;
  text-overflow: clip;
  cursor: pointer;
  color: var(--bs-gray-800);
}

.fullDate {
  position: absolute;
  display: none;
  visibility: hidden;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  top: 2px;
  transform: translateX(-50px);
  max-width: 90px;
  z-index: 1;
}

.date:hover > .fullDate {
  display: block;
  visibility: visible;
}

button {
  margin: 2px;
}

li > button {
  gap: 5px;
  border-radius: 10px;
}
/*colors*/
body {
  background: linear-gradient(
    to bottom,
    #BDD1C5 10%,
    rgba(15, 15, 216, 0.6)
  ) fixed;
}
#btn-ajout {
  background-color: #118AB2;
}
.task {
  background: #0B6477;
}
.fullDate {
  background-color: #C8A8E9;
}
.complet {
  text-decoration: wavy;
  background-color: var(--bs-teal);
}
.btn.btn-delete {
  background-color: #979C6B;
}
.btn.btn-delete:hover {
  background-color: #EF476F;
}
.modal-header {
  background: #928DAB;
}
.modal-divider {
  color: #928DAB;
}
